<input
   placeholder="... add new post here"
   (keyup.enter)="createPost(title)" #title
   type="text" class="form-control">
<ul class="list-group">
    <li 
       *ngFor="let post of posts" 
       class="list-group-item">
       

       <button style="margin-left: 5px; background-color:  rgb(113, 199, 202);"
          (click)="updatePost(post)"
          class="btn-default">Update</button>
        
       <button style="margin-left: 5px; background-color: rgb(241, 161, 177);"
          (click)="deletePost(post)"
          class="btn-default">Delete</button>

          {{ post.title}}
    </li>
</ul>
